name: Benchmarks

on: push

jobs:
  Check_Pyccel_Version:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'Benchmark of pyccel')
    outputs:
      old_version: ${{ steps.check_version.outputs.old_version }}
      new_version: ${{ steps.check_version.outputs.new_version }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install pyccel
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel
          python -m pip install pyccel
      - name: Check Version
        id: check_version
        run: |
          old_version=$(cat current_version.txt)
          new_version=$(python -c "from pyccel import __version__; print(__version__)")
          echo "old_version=${old_version}" >> $GITHUB_OUTPUT
          echo "new_version=${new_version}" >> $GITHUB_OUTPUT

  Benchmark_main:
    runs-on: ubuntu-latest
    if: ${{ needs.Check_Pyccel_Version.outputs.old_version == needs.Check_Pyccel_Version.outputs.new_version }}
    needs: Check_Pyccel_Version

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        uses: ./.github/actions/linux_install
      - name: Install pyccel from source
        run: |
          git clone https://github.com/pyccel/pyccel.git
          cd pyccel
          pip3 install .
      - name: Install python dependencies
        run: |
          pip3 install .
          pip3 freeze > version_specific_results/devel_performance_310_requirements.txt
      - name: Benchmark
        run: |
          python benchmarks/run_benchmarks.py --verbose
          FILE=version_specific_results/devel_performance_310.md
          echo "### Performance Comparison (as of $(date))" > ${FILE}
          cat bench.out >> ${FILE}
          python analysis/plot_results_figures.py ${FILE}
        shell: bash
        working-directory: ./.
      - name: Record Failure
        run: echo "Devel branch benchmarks failed on python 3.10!" > version_specific_results/devel_performance_310.md
        if: ${{ failure() }}
      - name: Add & Commit
        uses: EndBug/add-and-commit@v9
        if: ${{ always() }}
        with:
          message: 'Update performance comparison'
          add: "['version_specific_results/devel_performance_310.md', 'version_specific_results/devel_performance_310_compilation.svg', 'version_specific_results/devel_performance_310_execution.svg', 'version_specific_results/devel_performance_310_requirements.txt']"
          default_author: github_actions
          pull: '--rebase --autostash'

  Benchmark_37:

    runs-on: ubuntu-latest
    if: ${{ needs.Check_Pyccel_Version.outputs.old_version != needs.Check_Pyccel_Version.outputs.new_version }}
    needs: Check_Pyccel_Version

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Install dependencies
        uses: ./.github/actions/linux_install
      - name: Install python dependencies
        run: |
          pip3 install .
          pip3 freeze > version_specific_results/pypi_performance_37_${{needs.Check_Pyccel_Version.outputs.new_version }}_requirements.txt
      - name: Benchmark
        run: |
          python benchmarks/run_benchmarks.py --pyperf --verbose
          FILE=version_specific_results/pypi_performance_37_${{needs.Check_Pyccel_Version.outputs.new_version }}.md
          echo "### Performance Comparison (as of ${{needs.Check_Pyccel_Version.outputs.new_version }})" > ${FILE}
          cat bench.out >> ${FILE}
          python analysis/plot_results_figures.py ${FILE}
        shell: bash
        working-directory: ./.
      - name: Record Failure
        run: echo "Python 3.7 benchmarks failed!" > version_specific_results/pypi_performance_37.md
        if: ${{ failure() }}
      - name: Add & Commit
        uses: EndBug/add-and-commit@v9
        if: ${{ always() }}
        with:
          message: 'Update performance comparison'
          add: "['version_specific_results/pypi_performance_37_${{needs.Check_Pyccel_Version.outputs.new_version }}.md', 'version_specific_results/pypi_performance_37_${{needs.Check_Pyccel_Version.outputs.new_version }}_compilation.svg', 'version_specific_results/pypi_performance_37_${{needs.Check_Pyccel_Version.outputs.new_version }}_execution.svg', 'version_specific_results/pypi_performance_37_${{needs.Check_Pyccel_Version.outputs.new_version }}_requirements.txt']"
          default_author: github_actions
          pull: '--rebase --autostash'

  Benchmark_38:

    runs-on: ubuntu-latest
    if: ${{ needs.Check_Pyccel_Version.outputs.old_version != needs.Check_Pyccel_Version.outputs.new_version }}
    needs: Check_Pyccel_Version

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        uses: ./.github/actions/linux_install
      - name: Install python dependencies
        run: |
          pip3 install .
          pip3 freeze > version_specific_results/pypi_performance_38_${{needs.Check_Pyccel_Version.outputs.new_version }}_requirements.txt
      - name: Benchmark
        run: |
          python benchmarks/run_benchmarks.py --pyperf --verbose
          FILE=version_specific_results/pypi_performance_38_${{needs.Check_Pyccel_Version.outputs.new_version }}.md
          echo "### Performance Comparison (as of ${{needs.Check_Pyccel_Version.outputs.new_version }})" > ${FILE}
          cat bench.out >> ${FILE}
          python analysis/plot_results_figures.py ${FILE}
        shell: bash
        working-directory: ./.
      - name: Record Failure
        run: echo "Python 3.8 benchmarks failed!" > version_specific_results/pypi_performance_38.md
        if: ${{ failure() }}
      - name: Add & Commit
        if: ${{ always() }}
        uses: EndBug/add-and-commit@v9
        with:
          message: 'Update performance comparison'
          add: "['version_specific_results/pypi_performance_38_${{needs.Check_Pyccel_Version.outputs.new_version }}.md', 'version_specific_results/pypi_performance_38_${{needs.Check_Pyccel_Version.outputs.new_version }}_compilation.svg', 'version_specific_results/pypi_performance_38_${{needs.Check_Pyccel_Version.outputs.new_version }}_execution.svg', 'version_specific_results/pypi_performance_38_${{needs.Check_Pyccel_Version.outputs.new_version }}_requirements.txt']"
          default_author: github_actions
          pull: '--rebase --autostash'

  Benchmark_39:

    runs-on: ubuntu-latest
    if: ${{ needs.Check_Pyccel_Version.outputs.old_version != needs.Check_Pyccel_Version.outputs.new_version }}
    needs: Check_Pyccel_Version

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install dependencies
        uses: ./.github/actions/linux_install
      - name: Install python dependencies
        run: |
          pip3 install .
          pip3 freeze > version_specific_results/pypi_performance_39_${{needs.Check_Pyccel_Version.outputs.new_version }}_requirements.txt
      - name: Benchmark
        run: |
          python benchmarks/run_benchmarks.py --pyperf --verbose
          FILE=version_specific_results/pypi_performance_39_${{needs.Check_Pyccel_Version.outputs.new_version }}.md
          echo "### Performance Comparison (as of ${{needs.Check_Pyccel_Version.outputs.new_version }})" > ${FILE}
          cat bench.out >> ${FILE}
          python analysis/plot_results_figures.py ${FILE}
        shell: bash
        working-directory: ./.
      - name: Record Failure
        run: echo "Python 3.9 benchmarks failed!" > version_specific_results/pypi_performance_39.md
        if: ${{ failure() }}
      - name: Add & Commit
        if: ${{ always() }}
        uses: EndBug/add-and-commit@v9
        with:
          message: 'Update performance comparison'
          add: "['version_specific_results/pypi_performance_39_${{needs.Check_Pyccel_Version.outputs.new_version }}.md', 'version_specific_results/pypi_performance_39_${{needs.Check_Pyccel_Version.outputs.new_version }}_compilation.svg', 'version_specific_results/pypi_performance_39_${{needs.Check_Pyccel_Version.outputs.new_version }}_execution.svg', 'version_specific_results/pypi_performance_39_${{needs.Check_Pyccel_Version.outputs.new_version }}_requirements.txt']"
          default_author: github_actions
          pull: '--rebase --autostash'

  Benchmark_310:

    runs-on: ubuntu-latest
    if: ${{ needs.Check_Pyccel_Version.outputs.old_version != needs.Check_Pyccel_Version.outputs.new_version }}
    needs: Check_Pyccel_Version

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        uses: ./.github/actions/linux_install
      - name: Install python dependencies
        run: |
          pip3 install .
          pip3 freeze > version_specific_results/pypi_performance_310_${{needs.Check_Pyccel_Version.outputs.new_version }}_requirements.txt
      - name: Benchmark
        run: |
          python benchmarks/run_benchmarks.py --pyperf --verbose
          FILE=version_specific_results/pypi_performance_310_${{needs.Check_Pyccel_Version.outputs.new_version }}.md
          echo "### Performance Comparison (as of ${{needs.Check_Pyccel_Version.outputs.new_version }})" > ${FILE}
          cat bench.out >> ${FILE}
          python analysis/plot_results_figures.py ${FILE}
        shell: bash
        working-directory: ./.
      - name: Record Failure
        run: echo "Python 3.10 benchmarks failed!" > version_specific_results/pypi_performance_310.md
        if: ${{ failure() }}
      - name: Add & Commit
        if: ${{ always() }}
        uses: EndBug/add-and-commit@v9
        with:
          message: 'Update performance comparison'
          add: "['version_specific_results/pypi_performance_310_${{needs.Check_Pyccel_Version.outputs.new_version }}.md', 'version_specific_results/pypi_performance_310_${{needs.Check_Pyccel_Version.outputs.new_version }}_compilation.svg', 'version_specific_results/pypi_performance_310_${{needs.Check_Pyccel_Version.outputs.new_version }}_execution.svg', 'version_specific_results/pypi_performance_310_${{needs.Check_Pyccel_Version.outputs.new_version }}_requirements.txt']"
          default_author: github_actions
          pull: '--rebase --autostash'

  Benchmark_311:

    runs-on: ubuntu-latest
    if: ${{ needs.Check_Pyccel_Version.outputs.old_version != needs.Check_Pyccel_Version.outputs.new_version }}
    needs: Check_Pyccel_Version

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        uses: ./.github/actions/linux_install
      - name: Install python dependencies (numba doesn't support 3.11 yet)
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel
          python -m pip install pyccel
          python -m pip install pythran
          python -m pip install pyperf
          python -m pip install numpy
          python -m pip install matplotlib
          pip3 freeze > version_specific_results/pypi_performance_311_${{needs.Check_Pyccel_Version.outputs.new_version }}_requirements.txt
      - name: Benchmark
        run: |
          python benchmarks/run_benchmarks.py --pyperf --verbose --no_numba
          FILE=version_specific_results/pypi_performance_311_${{needs.Check_Pyccel_Version.outputs.new_version }}.md
          echo "### Performance Comparison (as of ${{needs.Check_Pyccel_Version.outputs.new_version }})" > ${FILE}
          cat bench.out >> ${FILE}
          python analysis/plot_results_figures.py ${FILE}
        shell: bash
        working-directory: ./.
      - name: Record Failure
        run: echo "Python 3.11 benchmarks failed!" > version_specific_results/pypi_performance_311_${{needs.Check_Pyccel_Version.outputs.new_version }}.md
        if: ${{ failure() }}
      - name: Add & Commit
        if: ${{ always() }}
        uses: EndBug/add-and-commit@v9
        with:
          message: 'Update performance comparison'
          add: "['version_specific_results/pypi_performance_311_${{needs.Check_Pyccel_Version.outputs.new_version }}.md', 'version_specific_results/pypi_performance_311_${{needs.Check_Pyccel_Version.outputs.new_version }}_compilation.svg', 'version_specific_results/pypi_performance_311_${{needs.Check_Pyccel_Version.outputs.new_version }}_execution.svg', 'version_specific_results/pypi_performance_311_${{needs.Check_Pyccel_Version.outputs.new_version }}_requirements.txt']"
          default_author: github_actions
          pull: '--rebase --autostash'

  BuildReadme:
    runs-on: ubuntu-latest
    if: ${{ always() && contains(github.event.head_commit.message, 'Benchmark of pyccel')}}
    needs: [Check_Pyccel_Version, Benchmark_37, Benchmark_38, Benchmark_39, Benchmark_310, Benchmark_311, Benchmark_main]

    steps:
      - uses: actions/checkout@v3
      - name: Start writing README
        run: |
          git branch
          git pull
          cat intro.md > README.md
          cat test_details.md >> README.md
          VERSION=${{needs.Check_Pyccel_Version.outputs.new_version }}
          echo "## Development branch results" >> README.md
          FILE=version_specific_results/devel_performance_310
          cat ${FILE}.md >> README.md
          echo "" >> README.md
          echo "![Development compilation results](./${FILE}_compilation.svg)" >> README.md
          echo "![Development execution results](./${FILE}_execution.svg)" >> README.md

          echo "## Python 3.7 results" >> README.md
          FILE=version_specific_results/pypi_performance_37_${VERSION}
          cat ${FILE}.md >> README.md
          echo "" >> README.md
          echo "![Python 3.7 compilation results](./${FILE}_compilation.svg)" >> README.md
          echo "![Python 3.7 execution results](./${FILE}_execution.svg)" >> README.md

          echo "## Python 3.8 results" >> README.md
          FILE=version_specific_results/pypi_performance_38_${VERSION}
          cat ${FILE}.md >> README.md
          echo "" >> README.md
          echo "![Python 3.8 compilation results](./${FILE}_compilation.svg)" >> README.md
          echo "![Python 3.8 execution results](./${FILE}_execution.svg)" >> README.md

          echo "## Python 3.9 results" >> README.md
          FILE=version_specific_results/pypi_performance_39_${VERSION}
          cat ${FILE}.md >> README.md
          echo "" >> README.md
          echo "![Python 3.9 compilation results](./${FILE}_compilation.svg)" >> README.md
          echo "![Python 3.9 execution results](./${FILE}_execution.svg)" >> README.md

          echo "## Python 3.10 results" >> README.md
          FILE=version_specific_results/pypi_performance_310_${VERSION}
          cat ${FILE}.md >> README.md
          echo "" >> README.md
          echo "![Python 3.10 compilation results](./${FILE}_compilation.svg)" >> README.md
          echo "![Python 3.10 execution results](./${FILE}_execution.svg)" >> README.md

          echo "## Python 3.11 results" >> README.md
          FILE=version_specific_results/pypi_performance_311_${VERSION}
          cat ${FILE}.md >> README.md
          echo "" >> README.md
          echo "![Python 3.11 compilation results](./${FILE}_compilation.svg)" >> README.md
          echo "![Python 3.11 execution results](./${FILE}_execution.svg)" >> README.md
        working-directory: ./.
      - name: Save newly analysed version
        run:
          echo "${{needs.Check_Pyccel_Version.outputs.new_version }}" > current_version.txt
      - name: Add & Commit
        uses: EndBug/add-and-commit@v9
        with:
          message: 'Update README and version'
          add: "['README.md', 'current_version.txt']"
          default_author: github_actions
          pull: '--rebase --autostash'
